@import "tailwindcss";

@font-face {
	font-family: 'BTG Pactual Office';
	src: url('/fonts/BTGSans-Hl.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BTG Pactual Office';
	src: url('/fonts/BTGSans-Lt.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BTG Pactual Office';
	src: url('/fonts/BTGSans-Rg.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BTG Pactual Office';
	src: url('/fonts/BTGSans-Sb.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BTG Pactual Office';
	src: url('/fonts/BTGSans-Bd.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BTG Pactual Office';
	src: url('/fonts/BTGSans-Eb.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-blue-1: #D2E5FF;
	--color-blue-2: #87BAFF;
	--color-blue-3: #549CFF;
	--color-blue-4: #307AE0;
	--color-blue-5: #195AB4;
	--color-blue-6: #0B2859;
	--color-blue-7: #05132A;
}
