<div class="text-blue-2">
  <div class="text-[4.375rem]/[5rem] font-black tracking-tighter">Bogotá</div>
  <div class="text-[2.3rem]/9 font-light tracking-tighter">
    Martes,<br />
    28 de octubre<br />
    7:30 a.m.
  </div>
  <div class="text-[2.43rem]/9 font-light tracking-tighter">Club El Nogal</div>
  <div class="text-4xl/9 font-semibold tracking-tighter">
    Gran salón<br />
    piso 8<br />
    Cra. 7 # 78-96
  </div>
</div>
