---
import IcoApple from "@/assets/ico-apple.svg";
import IcoGmail from "@/assets/ico-gmail.svg";
import IcoOutlook from "@/assets/ico-outlook.svg";
import IcoOutlookCom from "@/assets/ico-outlook-com.svg";

interface Props {
  apple: string;
  gmail: string;
  outlook: string;
  outlookCom: string
}
const { apple, gmail, outlook, outlookCom } = Astro.props;
---

<div class="py-7 lg:px-9.5 lg:max-h-51">
  <p class="text-[2.375rem]/9 text-blue-2 mb-9.5 tracking-tighter">Agregue este evento a su calendario:</p>
  <ul class="flex flex-wrap lg:flex-nowrap justify-start lg:justify-between gap-15 w-fit">
    <li>
      <a href={apple} class="flex flex-col items-center gap-6 text-2xl text-blue-2"><IcoApple width={33} height={41} /><span>Apple</span></a>
    </li>
    <li>
      <a href={gmail} class="flex flex-col items-center gap-6 text-2xl text-blue-2"><IcoGmail width={54} height={40} /><span>Google</span></a>
    </li>
    <li>
      <a href={outlook} class="flex flex-col items-center gap-6 text-2xl text-blue-2"
        ><IcoOutlook width={40} height={40} /><span>Outlook</span></a>
    </li>
    <li>
      <a href={outlookCom} class="flex flex-col items-center gap-6 text-2xl text-blue-2"
        ><IcoOutlookCom width={40} height={40} /><span>Outlook.com</span></a>
    </li>
  </ul>
</div>
