---
import Button from "@/components/Button.astro";
import Info from "@/components/BasicInfo.astro";
---

<div class="mx-auto lg:ms-34 lg:me-0">
  <Info />
  <div class="mt-10 lg:mt-15 lg:mb-5.5">
    <Button text_1="Regístrese" text_2="ahora" />
  </div>
</nfo>
