---
import Button from "@/components/Button.astro";
---

<div class="mx-auto lg:ms-34 lg:me-0">
  <div class="text-blue-1">
    <div class="text-[4.375rem]/[5rem] font-black tracking-tighter">
      Bogotá
    </div>
    <div class="text-[2.3rem]/9 font-light tracking-tighter">
      Martes,<br />
      28 de octubre<br/>
      7:30 a.m.
    </div>
    <div class="text-[2.43rem]/9 font-light tracking-tighter">
      Club El Nogal
    </div>
    <div class="text-4xl/9 font-semibold tracking-tighter">
      Gran salón<br />
      piso 8<br />
      Cra. 7 # 78-96
    </div>
  </div>
  <div class="mt-10 lg:mt-15 lg:mb-5.5">
    <Button />
  </div>
</div>
