---
import Button from "@/components/Button.astro";
---

<div class="mx-auto lg:ms-34 lg:me-0">
  <div class="text-blue-2">
    <div class="text-[2.5rem]/8 font-light tracking-tighter">
      Su registro ha sido
    </div>
    <div class="text-[3.25rem]/12 font-black tracking-tighter mb-14">
      exitoso
    </div>
    <div class="text-[2.375rem]/9 font-light tracking-tighter max-w-76 mb-18">
      En el número celular registrado, recibirá el código QR para el ingreso
    </div>
    <div class="text-[3.25rem]/12 font-black tracking-tighter">
      ¡Lo esperamos!
    </div>
  </div>
  <div class="mt-9 lg:mb-3">
    <Button
      url="https://maps.app.goo.gl/aznf4mpFavQV7EEw7"
      text_1="Cómo"
      text_2="llegar"
    />
  </div>
</div>
