<div>
	<div class="w-full h-0.5 bg-blue-1"></div>
	<div class="w-full h-1 bg-blue-2"></div>
	<div class="w-full h-1.5 bg-blue-3"></div>
	<div class="w-full h-2 bg-blue-5"></div>
	<div class="w-full h-3 bg-blue-6"></div>
</div>