---
import Logo from "@/assets/img-logo.svg";
---

<div class="bg-blue-7">
  <div
    class="text-xl lg:text-4xl/9 font-semibold mx-auto max-w-[1300px] px-[1.875rem] lg:px-20 pb-5 lg:pb-10 pt-9.5 lg:pt-31 text-right"
  >
    BTG supera<br />sus expectativas
  </div>
</div>
<div
  class="bg-linear-to-r from-blue-3 from-50% to-blue-6 to-51% h-16 lg:h-39"
>
  <div class="flex flex-nowrap h-full mx-auto max-w-6xl">
    <div
      class="items-center bg-blue-3 flex justify-center lg:justify-start text-[0.6875rem]/3 lg:text-3xl/7 w-54 lg:w-190"
    >
      <div class="text">
        El banco de inversión<br />más grande<span class="text-sm lg:text-4xl">
          de América Latina</span
        >
      </div>
    </div>
    <div class="bg-blue-4 w-5.5 lg:w-34"></div>
    <div class="bg-blue-5 w-3 lg:w-16"></div>
    <div
      class="bg-blue-6 flex items-center justify-center lg:justify-end w-45 lg:w-123 pe-10"
    >
      <Logo class="w-23 lg:w-45" />
    </div>
  </div>
</div>
