---
import Poster from "@/components/poster.astro";
---

<section class="bg-blue-4 pt-25 pb-12 lg:pb-25 px-7 lg:px-11 xl:px-18">
  <div
    class="border border-white pt-58 lg:pt-9.5 pb-8 px-5 xl:px-24 max-w-[1300px] mx-auto relative"
  >
    <div class="absolute -right-5 lg:right-14 -top-10">
      <Poster width="w-40" fontSize="text-[7px]" />
    </div>
    <p class="text-3xl/8 lg:text-6xl/15 font-thin">Panel</p>
    <p
      class="text-[2.5rem]/8 lg:text-[5.625rem]/[5rem] font-normal tracking-tighter"
    >
      Precandidatos<br />a la presidencia
    </p>
    <p class="mt-10 font-thin text-2xl/6 lg:text-5xl/12 tracking-tighter">
      Modera
    </p>
    <p class="text-3xl/7.5 lg:text-6xl/15 tracking-tighter">
      Armando Montenegro
    </p>
    <p class="text-2xl lg:text-3xl tracking-tighter lg:tracking-normal">
      Chairman BTG Pactual
    </p>
    <ul
      class="mt-15 text-[5rem]/[4.25rem] xl:text-[5.625rem]/[5rem] font-thin tracking-tighter lg:flex"
    >
      <li
        class="pb-10 lg:pb-7.5 lg:pt-7.5 mb-10 lg:mb-0 lg:pr-10 lg:mr-10 border-b-5 lg:border-b-0 lg:border-r-5 border-blue-6"
      >
        Vicky Dávila
      </li>
      <li
        class="pb-10 lg:pb-7.5 lg:pt-7.5 mb-10 lg:mb-0 lg:pr-10 lg:mr-10 border-b-5 lg:border-b-0 lg:border-r-5 border-blue-6"
      >
        Sergio Fajardo
      </li>
      <li class="lg:py-7.5">Gustavo Bolivar</li>
    </ul>
  </div>
</section>
