<section
  class="quote py-26 px-5"
>
  <p
    class="max-w-[1440px] mx-auto font-light text-[2rem]/8 lg:text-[2.875rem]/11 text-center text-balance"
  >
    Debate sobre la coyuntura internacional y los próximos eventos políticos de
    Colombia y la región.
  </p>
</section>

<style>
  .quote {
    background-image: url('../assets/bg-quote-mobile.jpg');
    background-size: cover;

    @media (min-width: 1024px) {
      background-image: url('../assets/bg-quote-desktop.jpg');
    }
  }
</style>
