---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      Gran foro Colombia 2025
    </title>
    <meta
      name="description"
      content="Gran foro Colombia 2025"
    />
    <link rel="icon" type="image/ico" href="./favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon-16x16.png"
    />
    <link rel="manifest" href="./site.webmanifest" />
    <meta
      property="og:title"
      content="Gran foro Colombia 2025"
    />
    <meta property="og:image" content="./android-chrome-512x512.png" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    interpolate-size: allow-keywords;
  }
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-family: "BTG Pactual Office", sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
</style>